<% layout('layouts/Boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input
                        type="text"
                        class="form-control"
                        id="price"
                        name="campground[price]"
                        placeholder="0.00"
                        aria-label="price"
                        aria-describedby="price-label"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Images</label>
                <input class="form-control" type="file" id="image" name="image" accept=".jpg,.jpeg,.png" multiple />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    class="form-control"
                    id="description"
                    name="campground[description]"
                    rows="10"
                    required
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="Add Campground" />
            </div>
        </form>
        <div class="mb-3">
            <a href="/campgrounds">All campgrounds</a>
        </div>
    </div>
</div>
